#slide-index {

  .tk-slide-title {
    transition: all .2s ease-in;
  }

  .tk-index-box {
    list-style: none;
    padding-left: 0;
    text-align: center;

    .tk-index-box__option {
      line-height: 2;
    }
  }

  .tk-loading-container {
    display: flex;
    justify-content: center;
  }
}